{% extends 'myapp/base.html' %} {% block content %}
<h1>About me</h1>
<p>
    Thanks for visiting my blog! Check all this cool stuff about me!<br>
    <br> I am Full Stack "Coder" with 1+ years of experience in professional software development.<br>
    <br> Technical Skills:<br> - Python, Django, Java Script, JQuery<br> - MS SQL Server, MySql, MongoDB<br> - Cloud applications and services development<br> - Agile Scrum based software development model<br>
    <br> Certifications:
    <br> - Udemy certified Python Developer<br>
    <br>
    <br> Passionate about making your business grow through effective and efficient technology and consulting.<br> I offer personal service and quick turnaround and hopefully creating a business relationship that will last for years to come.<br> I will
    provide support on client terms and availability, and follow agile scrum methodology, so you can be very much assured of quality and support.<br> I will create the list of items that are need to be covered in each milestone.<br> If required, I can
    also do Functional Specification Document and HTML design mock-ups for you.<br>
    <br> Looking forward to you to contact me for further discussion.<br>
    <br> Sincerely,
    <br> Chaitanya Singh Bisht<br> csbwork18@gmail.com
    <br>
</p>

{% endblock %}